<nav>
    <li><a href="{% url 'home' %}"></a>Receipt List</li>
    <li><a href="{% url 'create_receipt' %}"></a>Create Receipt</li>
    <li><a href="{% url 'category_list' %}"></a>Category List</li>
    <li><a href="{% url 'create_category' %}"></a>Create Category</li>
    <li><a href="{% url 'account_list' %}"></a>Account List</li>
    <li><a href="{% url 'create_accoun' %}"></a>Create Account</li>
</nav>




<!doctype html>
<html lange="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body>
    <header>
        <nav>
            <li><a href="{% url 'home' %}"></a>Receipt List</li>
            <li><a href="{% url 'create_receipt' %}"></a>Create Receipt</li>
            <li><a href="{% url 'category_list' %}"></a>Category List</li>
            <li><a href="{% url 'create_category' %}"></a>Create Category</li>
            <li><a href="{% url 'account_list' %}"></a>Account List</li>
            <li><a href="{% url 'create_accoun' %}"></a>Create Account</li>
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>

</html>
