{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
{% block title %}
Create Account
{% endblock title %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Receipt</title>
</head>

{% block content %}
<main>
    <div>
        <h1>Create Recipe</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}

</html>
