{% extends 'base.html' %}


{% block title %}
Receipt List
{% endblock title %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt List</title>
</head>

{% block content %}
<main>
    <header>
        <nav>

        </nav>
    </header>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for Receipt in receipts %}
            <tr>
                <td>{{ Receipt.vendor }}</td>
                <td>{{ Receipt.total }}</td>
                <td>{{ Receipt.tax }}</td>
                <td>{{ Receipt.date|date:"m/d/y" }}</td>
                <td>{{ Receipt.category.name }}</td>
                <td>{{ Receipt.account.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}

</html>
